<a href="https://colab.research.google.com/github/HEMANTHABANDA/Assignment-II/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=float(input("Enter length of 1st side of a triangle:"))  
b=float(input("Enter length of 2nd side of a triangle:"))  
c=float(input("Enter length of 3rd side of a triangle:"))  
if(a+b>c):
  s=(a+b+c)/2  
  area=(s*(s-a)*(s-b)*(s-c))**(1/2)
  print("The area of the triangle is= ", round(area,2))
else:
  print("The triangle is not possible")

Enter length of 1st side of a triangle:45
Enter length of 2nd side of a triangle:20
Enter length of 3rd side of a triangle:60
The area of the triangle is=  340.9

In [3]:
s=input("Enter a string:")
if(s==s[::-1]):
    print("Given string {} is palindrome".format(s))
else:
    print("Given string {} is not palindrome".format(s))

Enter a string:mom
Given string mom is palindrome

In [4]:
year=int(input("Enter the year:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("{} The entered year is leap year".format(year))
else:
    print("{} The entered year is not a leap year".format(year))

Enter the year:2000
2000 The entered year is leap year

In [6]:
n=input("Enter a string : ")
print(n.replace(' ','-'))

Enter a string : hemantha reddy
hemantha-reddy

In [7]:
str=input("Enter a string: ")
s=str.split()
s.sort()
list(s)
set(s)

Enter a string: hemantha,priya,chandana,srija

{'hemantha,priya,chandana,srija'}

In [9]:
salary=int(input("Enter the salary : "))
if (salary>=0) and (salary<=250000):
    tax=(salary*0)
elif (salary>250000) and (salary<=500000):
    tax=(salary*0.05)
elif (salary>500000) and (salary<=750000):
    tax=(salary*0.1)
elif (salary>750000) and (salary<=1000000):
    tax=(salary*0.15)
elif (salary>1000000) and (salary<=1250000):
    tax=(salary*0.2)
elif (salary>1250000) and (salary<=1500000):
    tax=(salary*0.25)
else:
    tax=(salary*0.3)
print("Tax is : ",tax)

Enter the salary : 500000
Tax is :  25000.0

In [11]:
l=[21,31,52]
for i in l:
  print(i,end="")

213152

In [27]:
days    = int(input("Enter number of Days: "))
hours   = int(input("Enter number of Hours: "))
minutes = int(input("Enter number of Minutes: "))
seconds = int(input("Enter number of Seconds: "))
ts = days * 86400
ts = ts + ( hours * 3600)
ts = ts + ( minutes * 60)
ts = ts + seconds
print("Total number of seconds: ","%d"%(ts))

Enter number of Days: 4
Enter number of Hours: 2
Enter number of Minutes: 54
Enter number of Seconds: 452
Total number of seconds:  356492

In [15]:
a=int(input("Enter the number of a:"))
b=int(input("Enter the number of b:"))
c=int(input("Enter the number of c:"))
d=min(a,b,c)
e=max(a,b,c)
f=(a+b+c)-d-e
print("The Sorted order is:",d,f,e)

Enter the number of a:5
Enter the number of b:8
Enter the number of c:2
The Sorted order is: 2 5 8

In [16]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2000
Enter a month between 1 to 12 : 11
Enter a day between 1 to 31 : 17
The immediate successor is YYYY-MM-DD : 2000-11-18.

In [17]:
list=[4,3,2,8,2,1,10,7]
n=1
for i in range(len(list)):
    n=n*list[i]
print(n)

26880

In [18]:
l=[2,6,8,4,8,1]
Out_list=[]
for i in range(len(l)-1):
    ol=l[i]+l[i+1]
    Out_list.append(ol)
print("Out_list=",Out_list)

Out_list= [8, 14, 12, 12, 9]

In [30]:
tup=(4,5,7,3,9,1)
mul=1
flag=0
l=[0]
for i in tup:
  mul=mul*i
  n=mul
  if l[0]==0:
    l[0]=n
  else:
    l.append(mul)
#k=tuple(l)
print(l)

[4, 20, 140, 420, 3780, 3780]

In [20]:
number=input("Enter a number: ")
list=[]
for n in range(len(number)):
    list.append(number[n])
print(list)

Enter a number: 171120000
['1', '7', '1', '1', '2', '0', '0', '0', '0']

In [22]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : tattarrattat
tattarrattat

In [35]:
a=input("enter first binary string : ")
b=input("enter first substring to check : ")
a1=input("enter second binary string : ")
b1=input("enter second substring to check : ")
while ( b in a ):
  print("1")
  break
while ( b1 in a1 ):
  print("1")
  break
while (b not in a ):
  print("0")
  break
while ( b1 not in a1):
  print("0")
  break

enter first binary string : 10110
enter first substring to check : 101
enter second binary string : 10010
enter second substring to check : 101
1
0

In [ ]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def countsteps(a,b,c): 
    v1=b
    v2=0
    count=1
    while ((v1 is not c) and (v2 is not c)): 
        temp=min(v1,a-v2) 
        v2=v2+temp 
        v1=v1-temp 
        count=count+1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            count=count+1
        if v2==a: 
            v2=0
            count=count+1
    return count 
def ispossible(a,b,c): 
    if a>b: 
        temp=a 
        a=b 
        b=temp 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(countsteps(b,a,c),countsteps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter capacity of vessel a : "))
  b=int(input("Enter capacity of vessel b : "))
  c=int(input("Enter capacity to be obtained :"))
  print("Minimum number of steps required is : ",ispossible(a,b,c))

Enter no of testcases : 2
Enter capacity of vessel a : 100
Enter capacity of vessel b : 86
Enter capacity to be obtained :50
Minimum number of steps required is :  90
Enter capacity of vessel a : 500
Enter capacity of vessel b : 400
Enter capacity to be obtained :100
Minimum number of steps required is :  2